<!--<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.submit "Resend unlock instructions" %></div>
<% end %>

<%= render "devise/shared/links" %>-->

<p> Due to technical difficulties, we are unable to provide automatic password reset. Please email dinechicago@gmail.com with your name and account email and we will manually reset your password. Sorry for the inconvenience.</p>
