<div class="panel panel-default devise-panel devise-login pane">
  <div class="panel-heading">
    <h1 class="panel-title">Log in</h1>
  </div>
  <div class="panel-body form-group">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, class: 'form-control devise-field'  %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control devise-field'  %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Log in", class: 'btn btn-default devise-field devise-button'  %></div>
<% end %>
 </div>
  <div class="panel-footer"><%= render "devise/shared/links" %></div>
</div>

<style type="text/css">
//registration styling
.panel{
  text-align:center;
}


.devise-panel, .pane{
  width:30%;
  margin:0 auto;
  margin-top:5%;
  border-radius: 0
}

.devise-field{
  margin-bottom: 15px;
  border-radius: 0
}
.devise-button{
margin-top:15px
}
.devise-edit{
  margin-top: 0px;
}

.devise-register{
  width: 60%;
  margin-top:auto;

}
</style>